<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">    
    
 
 
 <bean class="springreference.address" name="address1">
 	<property name="road" value="Niharika"/>
 	<property name="area" value="kosabadi area"/>
 	<property name = "pincode" value ="495677"/>
 		
 </bean>
 
 
 <bean class="springreference.BasicDetails" name="basicDetails" p:name="Tikam Talreja" p:phone="9691920858"  >
 	<property name="ad">
 		<ref bean="address1"/>
 	</property>
 </bean>
</beans>